@import 'bootstrap-sprockets';
@import 'bootstrap';

$white-color: #fff;
$black-color:  #000000;

.center {
  text-align: center;
}

/* universal */
body {
padding-top: 0px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}


/* header */
#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: $white-color;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
}
#logo:hover {
color: $white-color;
text-decoration: none;
}
